{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-10">
            <div class="card">
                <div class="card-content">
                     <div class="notification is-primary is-light">
                        Welcome, {{ name }}!
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification is-danger is-light">
                                <button class="delete"></button>
                                {{ messages[0] }}
                            </div>
                            {% if messages|length > 1 %}
                            <div class="notification is-link is-light">
                                <button class="delete"></button>
                                {{ messages[1] }}
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endwith %}

                    <form method="POST" action="{{ url_for('main.profile') }}">
                        <div class="table-container">
                            <table class="table is-fullwidth is-hoverable">
                                <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Container Name</th>
                                        <th>Container ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for c in list %}
                                    <tr>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" value="{{ c.id }}" name="chkbox">
                                            </label>
                                        </td>
                                        <td>
                                            <div class="field">
                                                <div class="control">
                                                    <input class="input is-small" type="text"
                                                           name="cont_name{{ c.id }}"
                                                           value="{{ c.container_name }}">
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ c.id }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="buttons is-centered">
                            <button type="submit" name="rename_btn" class="button is-info">
                                <i class="fas fa-edit mr-2"></i> Rename
                            </button>
                            <button type="submit" name="create_btn" class="button is-success">
                                <i class="fas fa-plus mr-2"></i> Create
                            </button>
                            <button type="submit" name="share_btn" class="button is-link">
                                <i class="fas fa-share-alt mr-2"></i> Share
                            </button>
                            <button type="submit" name="delete_btn" class="button is-danger">
                                <i class="fas fa-trash-alt mr-2"></i> Delete
                            </button>
                            <button type="submit" name="run_btn" class="button is-warning">
                                <i class="fas fa-play mr-2"></i> Run
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}