setuptools==21.2.1
apscheduler==3.9.1
flask==1.1.1
flask_sqlalchemy==2.5.1
flask_login==0.6.1
cachecontrol==0.12.11
google_auth_oauthlib==0.5.2
werkzeug==2.0.3
Jinja2==2.10.1
markupsafe==1.1.0
itsdangerous==1.1.0
SQLAlchemy==1.4.39
